<script type="text/template" id="main-tpl">
	<br>
	<div id="statistics-toolbar" style="padding-left:5px;">
		<input name="date-from" class="easyui-datebox date-from" style="width:110px;"
				 data-options="prompt:'<%- i18n.t('admin.stat.fromDate') %>'">

		<input name="date-to" class="easyui-datebox date-to" style="width:110px;"
				 data-options="prompt:'<%- i18n.t('admin.stat.toDate') %>'">

	</div>

	<div id="container" class="easyui-panel" style="margin-top: 20px; padding: 10px 20px;">
		<div id="chart"></div>
	</div>


</script>
